*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    
}

a{
    text-decoration: none;
    color:black
    }

.menu{
    position: absolute;
    width: 1600px;
    height: 80px;
    left: 0px;
    top: 0px;
    color:#FFFFFF;
}

.menu .logo-header{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    top: 24px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}

.menu .logo-header :hover{
    color: #000;
}

nav{  
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.02em;
    
    color: #212121;
}

nav ul{
    margin-left: 500px;
}

nav li{
    margin-top: 32px;
    margin-left: 10px;
    display:inline-block;
}

.contact a{
font-family: 'Roboto';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 16px;
letter-spacing: 0.02em;

color: #757575;

}

.contact a:hover{
    color: #2196F3;
}

.contact-mail{
    position: absolute;
    width: 135px;
    height: 16px;
    left: 1078px;
    top: 32px;

}

.contact-phone{
    position: absolute;
    width: 110px;
    height: 16px;
    left: 1263px;
    top: 32px;
}

header{
    position: absolute;
    width: 1600px;
    height: 600px;
    left: 0px;
    top: 80px;

    background: #2F303A;
}

header h1{
    padding: 200px 452px 30px 452px;
    color:#FFFFFF;
    text-align: center;
}

header button{
    background-color: #2196F3;
    color: #FFFFFF;
    width: 200px;
    height: 50px;
    margin: 30px 700px 200px 700px;
}

main{
    position: absolute;
    width: 1600px;
    height: 1417px;
    padding-top: 680px;
}

.our-features{
    position: absolute;
    width: 1170px;
    height: 101px;
    left: 215px;
    top: 774px;
}

.our-features h2{
    width: 217px;
    height: 16px;
    color: #212121;
    font-weight: 700;
    display: inline;
}

.our-features li{
    width: 270px;
    height: 75px;
    display: inline-block;
}

.photos{
    position: absolute;
    margin-top: 381px ;
}

.photos li{
    box-sizing: border-box;

    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    display: inline;
}

.photos p{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0.03em;

    color: #757575;
}

.photos b{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    line-height: 36px;
    letter-spacing: 0.06em;

    color: #212121;
}

.our-team{
    position: absolute;
    width: 1600px;
    height: 648px;
    left: 0px;
    top: 1449px;

    background: #F5F4FA;
}

.our-team li{
    display: inline-block;
}

footer{
    position: absolute;
    width: 1600px;
    height: 252px;
    top: 2097px;
    left: 0px;
    background: #2F303A;
}

.logo-footer{
    position: absolute;
    width: 145px;
    height: 31px;
    left: 215px;
    
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 31px;
    
    letter-spacing: 0.03em;
    
    color: #2196F3;
}

footer address {
    position: absolute;
    width: 247px;
    height: 21px;
    left: 215px;
    top: 30px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;

    color: #FFFFFF;
}

footer .contact-mail{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 60px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: #757575
}

footer .contact-phone{
    position: absolute;
    width: 231px;
    height: 21px;
    left: 215px;
    top: 90px;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;

    letter-spacing: 0.03em;
    text-decoration-line: underline;

    color: #757575
}